$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$large-desktop: 1400px;

$mobile-padding: 6.25%;
$tablet-padding: 3.03030303030303%;
$desktop-padding: 10.83333333333333%;

$header-min-height-mobile: 70px;
$header-min-height-tablet: 110px;
