$color-gray-font: #45515e;
$color-background-gray: #283645;
$color-dark-gray: #283544;
$color-light-gray: #485461;
$color-gray-active: #7f858c;
$color-white-gray: #f2f2f2;
$color-gray-2: #1d2631;
$color-gray-3: #e5e5e5;
$color-gray-4: #dddfe0;
$color-gray-5: #bec2c7;
$color-gray-6: #7e868f;
$color-gray-7: #969da4;
$color-gray-8: #f7f7f8;
$color-gray-9: #68747f;
$color-gray-10: #5d6873;
$color-gray-11: #e1e3e5;
$color-gray-12: #8d949b;
$color-gray-13: #b5b9be;
$color-white: #fff;
$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, .3);
$color-red: #d22856;
$color-red-opacity: rgba(210, 40, 86, .3);
$color-dark-red: #51374e;
$color-red-2: #b12c54;
$color-red-3: #52384f;
$color-red-4: #e9ebec;
$color-red-5: #f1becc;
$color-red-6: #fae7ec;
$color-red-7: #e06989;
$color-green: #2aab6d;
$color-green-2: #1c9b5e;
$color-green-3: #61b98f;
